Repository natura-cosmeticos/natds-commons, pull requests merged in 2020-09, with the labels that each got.

#48 [DSY-1421] fix(themes): fix aesop onPrimary color on dark theme
  packages/natds-themes/build/android/aesop/theme_aesop_dark.xml
  packages/natds-themes/build/android/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/aesop/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_avon_dark.xml
  packages/natds-themes/build/android/avon/theme_avon_light.xml
  packages/natds-themes/build/android/natura/theme_attributes.xml
  packages/natds-themes/build/android/natura/theme_natura_dark.xml
  packages/natds-themes/build/android/natura/theme_natura_light.xml
  packages/natds-themes/build/android/theBodyShop/theme_attributes.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_dark.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_light.xml
  packages/natds-themes/build/html/aesop/dark.html
  packages/natds-themes/build/html/paths.json
  packages/natds-themes/build/ios/AesopDarkTheme.swift
  packages/natds-themes/build/ios/AesopLightTheme.swift
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/ThemeProtocol.swift
  packages/natds-themes/build/react-native/aesop/dark.json
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/dark.json
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/dark.js
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/avon/light.js
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/dark.js
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/natura/light.js
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/dark.js
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/build/web/theBodyShop/light.js
  packages/natds-themes/properties/brands/aesop/dark.json
Labels: brand: aesop, token: color

#81 [DSY-1463] feat(natds-theme): add type definitions
  package.json
  packages/natds-themes/build/react-native/index.d.ts
  packages/natds-themes/build/web/index.d.ts
  packages/natds-themes/config/build.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.test.js
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/constants.js
  packages/natds-themes/config/shared/createOutputPathInfo.test.js
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.js
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.test.js
  packages/natds-themes/config/shared/templates/typeDefinitions.hbs
  packages/natds-themes/config/web/buildWebConfig.js
  packages/natds-themes/config/web/buildWebConfig.test.js
  packages/natds-themes/package.json
  yarn.lock
Labels: enhancement, themes

#85 feat(opacity): add missing `veryHigh` opacity
  packages/natds-themes/properties/globals/opacity/opacity.json
Labels: enhancement, token: opacity
